<mat-toolbar
  ><button
    mat-icon-button
    (click)="sidenav.toggle()"
    id="navigationToggleButtonId"
  >
    <mat-icon class="show-hover">menu</mat-icon>
  </button>
  {{ contextService.pageTitle$ | async }}
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z8" fxLayout="column">
    <button
      fxLayout="row"
      fxLayoutAlign="start center"
      mat-button
      class="menu-button"
      (click)="navigate('/ladevorgaenge')"
    >
      <mat-icon>home</mat-icon>
      Ladevorgänge
    </button>
    <!-- <button
      fxLayout="row"
      fxLayoutAlign="start center"
      mat-button
      class="menu-button"
    >
      <mat-icon>person</mat-icon>
      Profile
    </button>
    <button
      fxLayout="row"
      fxLayoutAlign="start center"
      mat-button
      class="menu-button"
    >
      <mat-icon>info</mat-icon>
      About
    </button>

    <button
      fxLayout="row"
      fxLayoutAlign="start center"
      mat-button
      class="menu-button"
    >
      <mat-icon>help</mat-icon>
      Help
    </button> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
